#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:5em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}
#page-wrapper{
    margin-bottom: 80px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}


.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
	padding:10px 0;
    padding-left: 65px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    
}

@media(min-width:1000px){
    .header-right {
        position: fixed;
        right: 0;
        top: 5px;

    }

}

.header-right .dropdown-toggle::after {
    content: none;   
}


div.anchor-div{
    cursor:pointer;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}
.sidebar-menu div.anchor-div {
    color: #b8c7ce;
    text-decoration: none;
}

.sidebar-menu > li:hover > div.anchor-div, 
.sidebar-menu > li.active > div.anchor-div {
	color: #fff;
	background: #1e282c;
	border-left-color: #3c8dbc;
}

.sidebar-menu > li > div.anchor-div{
	padding: 12px 5px 12px 15px;
	display: block;
	font-size: 14px;
	border-left: 3px solid transparent;
}

.sidebar-menu > li:hover > div.anchor-div, .sidebar-menu > li.active > div.anchor-div {
    color: #fff;
}

.sidebar-menu .treeview-menu > li > div.anchor-div {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
}

body div.anchor-div {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration: none;
}
body div.anchor-div:hover {
    color: #0056b3;
}

.sidebar-menu .treeview-menu > li > div.anchor-div > .fa,
.sidebar-menu .treeview-menu > li > div.anchor-div > .fas {
    width: 20px;
}

.sidebar-menu .treeview-menu > li.active > div.anchor-div, 
.sidebar-menu .treeview-menu > li > div.anchor-div:hover {
    color: #fff;
}

.dropdown-menu > li > div.anchor-div {
    padding: 3px 15px;
    font-size: 1em;
    letter-spacing: .5px;
}

.dropdown-menu > li > div.anchor-div {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

ul.dropdown-menu.drp-mnu i.fa, 
ul.dropdown-menu.drp-mnu i.fas {
	margin-right: 0.5em;
	color: #629aa9;
}

.profile_details li div.anchor-div i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #333;
    font-size: 1.6em;
}
.profile_details_drop div.anchor-div.dropdown-toggle {
    display: block;
    padding: 0.2em 3em 0 0em;
}
